.pattern {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1
}

.cloth {
    background-image: url('./imgs/cloth.png');
}

.cloudy-day {
    background-image: url('./imgs/cloudy-day.png');
}

.congruent_pentagon {
    background-image: url('./imgs/congruent_pentagon.png');
}

.dimension {
    background-image: url('./imgs/dimension.png');
}

.eight_horns {
    background-image: url('./imgs/eight_horns.png');
}

.ep_naturalwhite {
    background-image: url('./imgs/ep_naturalwhite.png');
}

.paisley {
    background-image: url('./imgs/paisley.png');
}

.pixel_weave {
    background-image:url('./imgs/pixel_weave.png')
}

.pow-star {
    background-image:url('./imgs/pow-star.png')
}

.regal {
    background-image:url('./imgs/regal.png')
}

.restaurant {
    background-image:url('./imgs/restaurant.png')
}

.sakura {
    background-image:url('./imgs/sakura.png')
}

.seigaiha {
    background-image:url('./imgs/seigaiha.png')
}

.skulls {
    background-image:url('./imgs/skulls.png')
}

.small_steps {
    background-image:url('./imgs/small_steps.png')
}

.swirl_pattern {
    background-image:url('./imgs/swirl_pattern.png')
}

.symphony {
    background-image:url('./imgs/symphony.png')
}

.topography {
    background-image:url('./imgs/topography.png')
}

.tree_bark {
    background-image:url('./imgs/tree_bark.png')
}

.triangular {
    background-image:url('./imgs/triangular.png')
}

.upfeathers {
    background-image:url('./imgs/upfeathers.png')
}

.wild_flowers {
    background-image:url('./imgs/wild_flowers.png')
}


